<div class="container">
    <h3>Profile</h3>
    <form>
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <p class="form-control-static">{{profileVm.profile.name}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <p class="form-control-static">{{profileVm.profile.email}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Phone</label>
            <div class="col-md-10">
                <p class="form-control-static">{{profileVm.profile.phone}}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Address</label>
            <div class="col-md-10">
                <p class="form-control-static">{{profileVm.profile.address}}</p>
            </div>
        </div>


    </form>


</div>