<div class="container">
    <h3>Reservations</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Confirmation No.</th>
            <th>Name</th>
            <th>#</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="res in reservationsVm.reservations">
            <td>{{res.id}}</td>
            <td>{{res.name}}</td>
            <td>{{res.partySize}}</td>
            <td>{{res.time}}</td>
            <td><a ng-href="#/reservations/{{res.id}}"><button class="btn btn-primary">Details</button></a></td>
        </tr>



        </tbody>

    </table>

</div>