<div class="container">
    <h3>Seating</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Is busy?</th>
            <th>Since</th>
            <th>Reservation ID</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="table in seatingVm.tables">
            <td>{{table.id}}</td>
            <td>{{table.waitStatus}}</td>
            <td>{{table.sinceTime | date : 'medium'}}</td>
            <td><a ng-href="#/reservations/{{table.resId}}">{{table.resId}}</a></td>
            <td>
                <a ng-href="#/reservations/{{table.resId}}/seating/{{table.id}}"><button class="btn btn-primary">Assign this table</button></a>
            </td>
            <td>
                <button class="btn btn-primary" ng-click="seatingVm.assignTable(104)"></button>
            </td>
        </tr>



        </tbody>

    </table>


</div>