.top
{
    background-image: radial-gradient(circle at top left, blue, green);
}

.logo
{

    height: 50px;
    width: 60px;
    padding: 50px;
    background: url("../images/dosa.jpg") center;

}

.logo-wrap
{
    height: 100px;
    background-image: radial-gradient(circle at top left, #e5e5e5, blue);
    text-align: center;
    padding: 10px 0;

}

.link-wrap
{
    background-color: #eb9316;
    height: 50px;
    padding: 10px;

    float:left;


}

.owner-login
{

    font-size: large;

}

.navbar-brand
{
    padding: 5px;
}

.container
{
    height: 75px;
}

.list
{

    width:100px;
}
@media (min-width: 768px) {
    .nav-justified {
        height: 75px;
    }
}
.navbar-brand span.glyphicon
{
    top: 5px;
}

.ownerLink
{
    font-size: larger;
}


section
{
    margin: 20px 0;
}